input[type=button]{ 
    width: 50%;
    background-color:green;
    border:none;
    border-radius:5px;
    color: white;
    padding: 10px;
    margin-top: 10px; 
    cursor:pointer;
    box-shadow: 10px 10px 5px 0px rgb(61, 161, 61);
}
input[type=button]:hover{ /*HOVER cuando pasa mouse por arriba*/
    background-color:red;
}
#btnCerrar{
    background-color:red;
    color: black;
    padding: 5px 5px 5px 5px;
    width: auto;
    box-shadow: 5px 5px 5px 0px rgb(185, 62, 62);
}
#btnCerrar:hover{
    background-color:grey;    
}
.divAbrir{
    width: 15%;
}

input[type=text]{
    border-radius:5px ;
    padding: 10px;
    margin-top: 10px; 
    margin-bottom:5px;
    width: 100%;
    box-sizing: border-box;
}
.sinError{/*Le agrega los bordes al tipo text sin error*/
    border:2px solid grey;
}
.conError{
    border:2px solid red;
}
.divCerrar{
    position: absolute;
    right: 2%;
    top: 0%;
}
.divisor{
    position: relative;
    top: 30px;
    background-color: rgb(175, 210, 250);
    width:50%;
    border-radius:5px ;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px gray;
    animation-name: abrir;
    animation-duration: 2s;
}
@keyframes abrir{ /*animacion*/
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
th{
    text-align: left;
    background-color: green;
    color: white;
}
table{
    position: relative;
    width:100%;
    border-collapse: collapse;/*para q no se vean las divisiones de la tabla*/
    
}
tr:nth-child(even){/*para ponerle un fondo a cada selda entre salteada*/
    background-color: rgb(192, 191, 191);
}

#spinner {
    position: fixed;
    top: 0%;
    right: 0%;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}
.sinError {
    border: 1px solid black;
}
.conError {
    border: 1px solid red;
}
